@keyframes typewriter {
  0% {
    width: 0;
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  50% {
    border-color: transparent;
  }
  51%,
  100% {
    border-color: currentColor;
  }
}

.typewriter-base {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid;
  padding-right: 4px;
  opacity: 1;
  animation-fill-mode: forwards;
}

.typewriter-line-1 {
  display: inline-block;
  border-color: rgb(17 24 39); /* gray-900 */
  width: 0;
}

.typewriter-line-1-active {
  display: inline-block;
  border-color: rgb(17 24 39); /* gray-900 */
  animation:
    typewriter 1s steps(9, end) 0s 1 normal both,
    blink 0.5s steps(2, start) 0s 2 normal forwards;
}

.typewriter-line-2 {
  display: block;
  border-color: rgb(249 115 22); /* orange-500 */
  width: 0;
}

.typewriter-line-2-active {
  display: block;
  border-color: rgb(249 115 22); /* orange-500 */
  animation:
    typewriter 0.8s steps(6, end) 1.2s 1 normal both,
    blink 0.5s steps(2, start) 1.2s 2 normal forwards;
}

.typewriter-line-3 {
  display: block;
  border-color: rgb(75 85 99); /* gray-600 */
  width: 0;
}

.typewriter-line-3-active {
  display: block;
  border-color: rgb(75 85 99); /* gray-600 */
  animation:
    typewriter 1.5s steps(16, end) 2.2s 1 normal both,
    blink 0.5s steps(2, start) 2.2s 3 normal forwards;
}

.typewriter-paragraph {
  border-color: rgb(75 85 99); /* gray-600 */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 0;
}

.typewriter-paragraph-active {
  border-color: rgb(75 85 99); /* gray-600 */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  animation:
    typewriter 2s steps(80, end) 4s 1 normal both,
    blink 0.5s steps(2, start) 4s 4 normal forwards;
}
