@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-brand-primary: #f4d025;
  --color-brand-secondary: #fad93d;
  --color-brand-tertiary: #a6702e;
  --color-brand-neutral: #bfb6ae;
  --color-brand-light: #f2f2f2;
  --color-brand-dark: #212523;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1600px;
  margin: 0 auto;
}
